.home {
  display: flex;
}

.name {
  margin-left: 4rem;
}

.profile {
  margin: 0 2rem;
  text-align: left;
}

.profile--picture {
  height: 20rem;
  width: 20rem;
  border-radius: 30px;
  border: 2px solid #778da9;
}

.profile--content {
  margin: 0 auto;
}
