.nav--container {
  display: flex;
  align-items: center;
}

.dark-shadow {
  filter: drop-shadow(0px 2px 3px black);
}

.light-shadow {
  filter: drop-shadow(0px 2px 3px #e1e1e1);
}

.mode {
  margin: 1rem;
}

.darkmode-wrapper {
  display: flex;
  align-items: center;
  max-height: 40px;
  margin-right: 1rem;
  margin-top: 5px;
}

.light-border {
  border-bottom: 1px solid #f0f0f0;
}
