.nav--container {
  filter: drop-shadow(#778da9 0px 10px 10px);
  display: flex;
  align-items: center;
}

.mode {
  margin: 1rem;
}

.darkmode-wrapper {
  display: flex;
  align-items: center;
  max-height: 40px;
  margin-right: 1rem;
}
