.main-body {
  margin: 0;
  padding: 2rem;
  min-height: calc(100vh - 64px);
  /* Adjust based on your navbar height */
}

.dark {
  background: #001529;
  color: #ffffff;
}

.dark .landing-container h2.ant-typography {
  color: #a6a6a6;
}

.dark .ant-card {
  background: #1f1f1f;
  border-color: #303030;
}

.dark .ant-card-meta-title {
  color: #ffffff;
}

.dark .ant-card-meta-description {
  color: #a6a6a6;
}

.light {
  background: #ffffff;
  color: #001529;
}

.full {
  min-height: 100vh;
}